<svg viewBox="0 0 20.613 12.372" style="width: inherit;" class="bases-sgv">
    <path [matTooltip]="whosOnBase(0)?.name||''" [ngClass]="{onBase: isSomeoneOnBase(0)}" class="first"  d="M 16.55,4.772 20.085,8.307 16.55,11.843 13.014,8.307 Z" />
    <path [matTooltip]="whosOnBase(1)?.name||''" [ngClass]="{onBase: isSomeoneOnBase(1)}" class="second" d="M 12.307,0.53 15.843,4.065 12.307,7.6 8.772,4.065 Z" />
    <path [matTooltip]="whosOnBase(2)?.name||''" [ngClass]="{onBase: isSomeoneOnBase(2)}" class="third" d="M 8.065,4.772 11.599,8.307 8.064,11.843 4.529,8.307 Z" />
</svg>